* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.banner > h1 {
  color: white;
  font-size: 1vh;
  position: absolute;
  bottom: 14%;
  left: 61%;
  max-width: 17%;
}

.banner > p {
  color: white;
  font-size: 0.45vh;
  position: absolute;
  bottom: 12%;
  left: 61%;
  max-width: 17%;
}

.banner img {
  height: 3.75vh;
  padding: 17vh 0 0 40%;
}

.banner {
  background-color: rgb(68, 74, 84);
  width: 100%;
  height: 35vh;
  margin-bottom: 20vh;
  padding: 0;
  border-radius: 50%;
  transform: scale(5) translateX(-20%) translateY(-30%);
  min-height: 5vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.forms {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  margin: 4% 0%;
}

#right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  height: 180vh;
}

#outer-blk {
  border: 1px solid #b8b8b8;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 180vh;
}

.inner-blk {
  border: 1px solid #b8b8b8;
  border-radius: 25px;
  height: 37%;
}

#top > p {
  font-weight: bold;
}

#bottom p {
  font-weight: bold;
}

#top {
  height: 30%;
}

#bottom {
  margin-top: 5%;
  height: 60%;
}

body {
  font-family: "Galano Grotesque", "Noto Sans TC", "Noto Sans JP", -apple-system,
    ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, Roboto, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Lucida Grande", sans-serif;
}

.pamphlet-blk__btn-container button {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  min-height: 35px;
  appearance: none;
  display: inline-block;
  text-decoration: none;
  border: 0px;
  font-weight: 700;
  color: white;
  background-color: rgb(248, 116, 0);
  border-radius: 12px;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: all 250ms ease-in-out 0s;
  padding-top: 0.875rem;
  padding-right: 1rem;
  padding-bottom: 0.875rem;
  padding-left: 1rem;
}

button:hover {
  box-shadow: inset 300px 0 0 0 grey;
}

.pamphlet-blk__btn-container2 button {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  min-height: 35px;
  appearance: none;
  display: inline-block;
  text-decoration: none;
  border: 0px;
  font-weight: 700;
  color: white;
  background-color: rgb(0, 189, 175);
  border-radius: 12px;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: all 250ms ease-in-out 0s;
  padding-top: 0.875rem;
  padding-right: 1rem;
  padding-bottom: 0.875rem;
  padding-left: 1rem;
}

.pamphlet-blk,
.inner-blk {
  padding: 2.4375em;
}

.pamphlet-blk > p {
  font-weight: bold;
}

.pamphlet-blk__title {
  margin-bottom: 5%;
}

.pamphlet-blk__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3%;
}

.pamphlet-blk__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pamphlet-blk__file {
  width: 60%;
}

#contact {
  background-color: #f2f2f2;
  padding: 3%;
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

a[href^="mailto"] {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 709px) {
  .banner > h1 {
    font-size: 0.3rem;
    bottom: 18%;
  }

  .banner > p {
    font-size: 0.2rem;
    bottom: 10%;
  }

  img {
    height: 0.1vh;
  }

  .pamphlet-blk,
  .inner-blk {
    min-width: 150px;
    padding: 1em;
  }
}

@media screen and (min-width: 710px) and (max-width: 1348px) {
  .banner > h1 {
    font-size: 0.3rem;
    bottom: 18%;
  }

  .banner > p {
    font-size: 0.2rem;
    bottom: 13%;
  }

  img {
    height: 0.1vh;
  }

  .pamphlet-blk,
  .inner-blk {
    min-width: 150px;
    padding: 1em;
  }
}
